* {
    font-family: Roboto;
}

#logo, #logo img {
    width: 130px;
    height: auto;
}

.c-container, .c-container2 {
    float: initial;
    margin: auto;
}

.c-container {
    max-width: 1200px
}

.c-container2 {
    max-width: 900px
}

.c-logo-footer {
    max-width: 180px;
}

.c-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.c-slide-opaco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}

.c-slide-arrow {
    width: 50px;
    height: 50px;
    padding-top: 1px;
    margin-top: 100px;
}

.c-slide-arrow-right i {
    margin-left: -13px;
}

.c-slide-arrow-left i {
    margin-left: -13px;
}

.c-slide-play {
    float: initial;
    padding: 20px 40px;
}

.c-background-home, .c-background-contato {
    background-size: cover;
    background-repeat: repeat-x;
}

.c-background-home {
    background-image: url('img/fundoHome.png');
}

.c-background-contato {
    background-image: url('img/fundoContatoAmarelo.png');
}

.c-construindo-sonhos {
    margin: auto;
    width: 300px;
}

.c-midia {
    margin: auto;
    width: 420px;
}

.c-construindo-sonhos-images {
    width: 40px;
}

.list-empreendimentos .active {
    border-bottom: solid 3px #333;
    opacity: 1;
}

.c-noticia-arrow {
    width: 75px;
    margin-top: 150px
}

.c-arrow-invert {
    transform: rotate(180deg);
}

img {
    max-width: 100%;
}

ul li a {
    text-decoration: none !important;
}

.color-yellow, .color-hover-yellow:hover {
    color: #000 !important;
    background-color: #FAC72D !important
}

.color-text-yellow, .color-hover-text-yellow:hover {
    color: #FAC72D !important
}

.color-border-yellow, .color-hover-border-yellow:hover {
    border-color: #FAC72D !important
}

.color-grey-dark, .color-hover-grey-dark:hover, .color-gray-dark, .color-hover-gray-dark:hover {
    color: #fff !important;
    background-color: #242424 !important
}

.color-text-grey-dark, .color-hover-text-grey-dark:hover, .color-text-gray-dark, .color-hover-text-gray-dark:hover {
    color: #242424 !important
}